.col-sm-10, .col-sm-12 {
    margin-left: 0 auto;
    margin-right: 0 auto;
    display: inline-block;
    text-align: center;
    max-width: 100%;
}

#buttons li a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}
 
#buttons li a:hover {
    text-decoration: none;
    color: #000000;
    background-color: #33B5E5;
}

#buttons li {
    float: left;
    list-style: none;
    text-align: center;
    background-color: #000000;
    margin-right: 30px;
    width: 150px;
    line-height: 60px;
}

.banner {
    max-width: 100%;
}

p {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}


div {
    border-style: dashed;
    border-width: 0px;
}

ul {
    list-style: none;
}

#navbar {
    background-color: #B3C9E9;
    position:absolute;
    right:0px;
    bottom:0px;
    top:0px;
    height: 100%;
    width: 88%;
}

#navbar-parent {
    position:relative;
    min-height:100%;
}

#horizontal-bar {
    padding-top: 5px;
    width: 100%;
    height: 120px;
}

#horizontal-bar h1 {
    color: white;
    text-align: left;
}

#horizontal-bar-parent {
    position:relative;
    min-height:100%;
}

#mainmenu li {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 150px;
    line-height: 60px;
    background-color: #808080;
    border-style: dashed;
    border-width: 1px;
    text-align: center;
}

#mainmenu li a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

#mainmenu li a:hover {
    text-decoration: none;
    color: #000000;
    display: block;
    background-color: #B3C9E9;
}