@{
    
}

<div class = "footer">
   

   <div class="col-sm-2"><a href="https://www.ideagen.com/terms-and-conditions/">Terms & Conditions</a></div> 
    <div class="col-sm-2"><a href="https://www.ideagen.com/privacy-policy/">Privacy Policy</a></div>
   <div class="col-sm-2"><a href="https://www.ideagen.com/data-protection/">Data Protection</a></div> 
    <div class="col-sm-2"><a href="https://www.ideagen.com/cookies/">Cookies</a></div>
    <div class="col-sm-2"><a href="https://www.ideagen.com/sitemap/">Sitemap</a></div>
        <div class="col-sm-2">Copyright Ideagen PLC 2016</div>
    
     
</div>