@{
    
}

<!DOCTYPE html>

<div class='row'>



        <div id = 'horizontal-bar-container'>
            <div id = 'horizontal-bar'>
                <a href='Index.cshtml'><img src = 'img/ideagen-logo.png' alt ="logo"></a>
            </div>
        </div>
        <a href='Blank.cshtml'><img class = 'banner' src='img/splash1.jpg' alt="banner"></a>
       
    </div>