@{
    
}

<!DOCTYPE html>

<div class='row'>



        <div id = 'horizontal-bar-container'>
            <div id = 'horizontal-bar'>
                  <a href='Blank.cshtml'><img class = 'banner' src='img/splash1.png' alt="banner"></a>
            </div>
        </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
       
    </div>