@{
    
}

<!DOCTYPE html>

<div class='row'>


    <!-- Content Pane -->
    <div class='col-sm-12'>
        <div id = 'horizontal-bar-container'>
            <div id = 'horizontal-bar'>
                <a href='index.html'><img src = 'img/ideagen-logo.png' alt ="logo"></a>
            </div>
        </div>
        <img class = 'banner' src='img/splash1.jpg' alt="banner">
       
    </div>
</div> 