@{
    
}

<!DOCTYPE html>

<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- JQueryUI -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <!-- Local CSS file -->
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <!-- Local JavaScript file-->
    <script type="text/javascript" src="js/Script.js"></script>
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans' rel='stylesheet' type='text/css'>

</head>
    <body>
    <div class="page-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <!-- Header-->
                @RenderPage("_Header.cshtml")
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <!-- Navigation Bar-->
                @RenderPage("_Navbar.cshtml")
            </div>

            <div class="col-sm-10">
                <!-- Main content pane, all primary views load here-->
                @RenderBody()
            </div>
        
            <div class="col-sm-1">
            <!-- Empty Space-->
            </div>
        </div>
        </div>

    
        
   @RenderPage("_Footer.cshtml")
    </body>
</html>
