@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    
    var db = Database.Open("ProjectManager");
    
    var roles = db.Query("SELECT roleName, roleId FROM Roles");
    var rolesNumber = db.QueryValue("SELECT COUNT(*) FROM Roles");

    long[] rolesId = new long[rolesNumber];
    String[] rolesName = new String[rolesNumber];

    var i = 0;
    foreach (var x in roles)
    {
          rolesId[i] = @x.roleId;
          rolesName[i] = @x.roleName;
          i++;
    }


    var firstName = "";
    var lastName = "";
    var userName = "";
    var email = "";
    var password = "";
    var roleId = 0;

    var errorMessage = "";



   if (IsPost)
{
        if (Request["submit"] == "Save")
    {
        
        firstName = Request.Form["firstName"];
        lastName = Request.Form["lastName"];
        userName = Request.Form["userName"];
        email = Request.Form["email"];
        password = Request.Form["password"];
        roleId = Request.Form["role"].AsInt();

  
        if ( firstName== "" || lastName== "" || userName== "" || email== "" || password== "" )
        {
            errorMessage = "You must specify all fields.";
        }


        // If all information is valid, create a new account
        if (errorMessage=="")
        {
            var user = db.QuerySingle("SELECT userName FROM Users WHERE LOWER(userName) = LOWER(@0)", userName);
            if (user == null)
              {
               db.Execute("INSERT INTO Users (userName, fName, lName, email, password, roleId) VALUES (@0, @1, @2, @3, @4, @5)",  userName, firstName, lastName, email, password, roleId);
               WebSecurity.CreateAccount(userName, password, false);
               errorMessage = "New user has been created.";
              }
            else
              {
                  errorMessage = "username is already in use.";
              }

        }
    }

}
    
}


<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- JQueryUI -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <!-- Local CSS file -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans' rel='stylesheet' type='text/css'>

</head>
    
<body>
    

<div class='row'>

      <h2>Create User</h2>
         
      <form action="" id="register_user" method="post">

	  <input type="text" placeholder="Enter first name" name="firstName" value=""><br/><br/>
      <input type="text" placeholder="Enter last name" name="lastName" value=""><br/><br/>
	  <input type="email" placeholder="Enter email" name="email" value=""><br/><br/>
      <input type="text" placeholder="Enter username" name="userName" value=""><br/><br/>
      <input type="password" placeholder="Enter password" name="password" value=""><br/><br/>
      <p>Select user's role: </p>  
      </br>	  
      <select name="role">
        @for(int x=0; x<rolesNumber; x++)
        {
               <option value=@rolesId[x] >@rolesName[x]</option> 
        }
      </select><br/><br/>
      <p>@errorMessage</p>

     <input type="submit" name="submit" value="Save"> 
     <input type="submit" name="submit" value="Back"> 


     </form>
     

    </div>
    <div class='col-sm-1'>
    
    </div>
</div>

</body>
</html>

