@{
    
}
<div>
    <h2>Archive User</h2>

    <form>
        <input type="text" placeholder="Search..." required>
        <input type="button" value="Search">
        </br></br>
	 
        <input type="text" placeholder="First name" name="firstName"><br/><br/>
        <input type="text" placeholder="Last name" name="lastName"><br/><br/>
        <input type="email" placeholder="Username" name="username"><br/><br/>
		 
		 
        <button type="submit">Archive</button>
        </br></br>
		 
		
        <button type="submit">Back</button>
    </form>
</div>