@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");
    
    var errorMessage = "";
    var successMessage = "";
    var archiveErrorMessage = "";
        
    var userName = "";
    long userId = 0;
    var activeReportsCount =0;

    if(IsPost)
    {   

            if (Request["submit"] == "Search")
            {
                userName = Request.Form["searchInput"];

                var count = db.QueryValue("SELECT COUNT(*) FROM Users WHERE userName = @0", userName);

                if(count > 0)
                {

                     errorMessage = "Are you sure you want to archive " + userName + "?";
                }
                else
                {
                    errorMessage = "Invalid User Name";
                }

                if(userName=="")
                {
                    errorMessage = "Invalid User Name";
                }
            }

            if (Request["submit"] == "Archive")
            {
                 userName = Request.Form["searchInput"];
                 if (errorMessage == "Invalid User Name")
                {
                    archiveErrorMessage = "You must specify a valid user.";
                }

                // If all information is valid, archive account
                if (archiveErrorMessage=="")
                {
                    
                    userId = db.QueryValue("SELECT userId FROM Users WHERE userName = @0;", userName);
                    activeReportsCount = db.QueryValue("SELECT COUNT(*) FROM Reports WHERE userId = @0 AND reportStatus = 'Pending' OR userId = @0 AND reportStatus = 'Investigation'", userId);

                
                    if (activeReportsCount == 0)
                    {
                        db.Execute("UPDATE Users SET status = 'Archived' WHERE userName = @0;", userName );

                        successMessage = "Changes Saved.";

                        userName = "";
                    }
                    else
                    {
                        archiveErrorMessage = "User must not be part of any Pending/Investigation reports";
                    }

                }
            }
            
    }


}
<div>
    <h2>Archive User</h2>

    <form class='login' method="post">
        <input type="text" placeholder="Search by User Name..." name="searchInput" value="@userName" ></br>
        <input type="submit" name="submit" value="Search">
        </br></br>
		<p>@errorMessage</p> 	 
		 
        <button type="submit" name="submit" value="Archive">Archive</button>
        </br></br>
        <p>@archiveErrorMessage</p>
        <p>@successMessage</p>
    </form>
</div>