@{
    
}

<div>  
    <h2>Edit Role</h2>
              
    <form>
        <p> Select role you wish to edit</p>
        <select name="role">
        <option value=""></option>
        <option value="admin">Admin</option>
        <option value="manager">Manager</option>
        <option value="user">User</option>
        </select>
        </br></br>
		 
		 
        <input type="checkbox" name="permissions" value="edit">Edit permissions<br>
        <input type="checkbox" name="permissions" value="create">Create templates<br>
        <input type="checkbox" name="permissions" value="edit">Edit templates<br>
        <input type="checkbox" name="permissions" value="close">Close reports<br>
        <input type="checkbox" name="permissions" value="status">Change report status<br>
        <input type="checkbox" name="permissions" value="reopen">Reopen report<br>
        <input type="checkbox" name="permissions" value="create">Create report<br>
        <input type="checkbox" name="permissions" value="edit">Edit report<br>
        <input type="checkbox" name="permissions" value="add">Add attachment<br>
        <input type="checkbox" name="permissions" value="remove">Remove attachment<br>
        </br>
	 		 
        <button type="submit">Edit Role</button>
        </br></br>
		
        <button type="submit">Back</button>
    </form>
</div>