@{
    
}

<div>
    <h2>Edit User</h2>

    <form method="post">
        <input type="text" placeholder="Search..." required>
        <input type="button" value="Search">
        </br></br>
		 
        <input type="text" placeholder="First name" name="firstName"><br/><br/>
        <input type="text" placeholder="Last name" name="lastName"><br/><br/>
        <input type="email" placeholder="Email Address" name="email"><br/><br/>
		 
        <h4>Choose a Role</h4>
		
        <select name="role">
            <option value=""></option>
            <option value="admin">Admin</option>
            <option value="manager">Manager</option>
            <option value="user">User</option>
        </select>
        </br></br>
		
        <input type="text" placeholder="Username" name="username"><br/><br/>
        <input type="password" placeholder="password" name="password"><br/><br/>
        <button type="submit">Save</button>
		
        </br></br>
        <button type="submit">Back</button>
    </form>
</div>