@{
    var userNameLogIn = "";
    var passwordLogIn = "";

    var loginErrorMessage = "";
    var db = Database.Open("ProjectManager");
    var userId =0;
    bool isLogged =false;
if(IsPost)
{
       if (Request["submit"] == "log in")

        {
            userNameLogIn = Request.Form["username"];
            passwordLogIn = Request.Form["password"];

             if (WebSecurity.UserExists(userNameLogIn))
                {

                    isLogged = WebSecurity.Login(userNameLogIn, passwordLogIn, false);
                    userId = WebSecurity.GetUserId(userNameLogIn);
                    if (isLogged == true) 
                    {
                        int rows = db.Execute("UPDATE Users SET lastLoginDate = GETDATE() WHERE userId = @0", userId);
                        while (rows == 0)
                        {
                            rows = db.Execute("UPDATE Users SET lastLoginDate = GETDATE() WHERE userId = @0", userId);
                        }
                        Response.Redirect("Blank.cshtml");   
                    }

                }
             else
                {
                    loginErrorMessage = "Login failed";
                }
        }
        else if (Request["submit"] == "log out")
        {
            WebSecurity.Logout();
            Response.Redirect("Index.cshtml");
        }

}
}

<!DOCTYPE html>


     <div id='wrapper'>

         @if(WebSecurity.IsAuthenticated)
 {
     @:<form id="loginform" name="login" action="" method="post" accept-charset="utf-8" class="login">
         <input type="submit" name="submit" value="log out" />
    @:</form>

 }
 else 
 {  



  @:<form id="loginform" name="login" action="" method="post" accept-charset="utf-8" class="login">
    <p class="title">Log in</p>
    @:<input type="text" name='username'placeholder="Username"/>   
    @:<input type="password" name="password" placeholder="Password" />    
    <a href="#">Forgot your password?</a>
    <button type="submit" name="submit" value="log in">
    Log in
    </button>
    @:</form>
 @userId
 @isLogged   

    }
         </div>
         <p>@loginErrorMessage</p>

</div>



