@{
    var userNameLogIn = "";
    var passwordLogIn = "";



    var loginErrorMessage = "";

if(IsPost)
{
       if (Request["submit"] == "log in")

        {
            userNameLogIn = Request.Form["username"];
            passwordLogIn = Request.Form["password"];

             if (WebSecurity.UserExists(userNameLogIn))
                {
                    WebSecurity.Login(userNameLogIn, passwordLogIn, true);
                    Response.Redirect("MainMenu.cshtml");
                }
             else
                {
                    loginErrorMessage = "Login failed";
                }
        }
        else if (Request["submit"] == "log out")
        {
            WebSecurity.Logout();
            Response.Redirect("Index.cshtml");
        }

}
}

<!DOCTYPE html>


     <div id='wrapper'>

         @if(WebSecurity.IsAuthenticated)
 {
     @:<form id="loginform" name="login" action="" method="post" accept-charset="utf-8">
         <input type="submit" name="submit" value="log out" />
    @:</form>

 }
 else 
 {  



  @:<form id="loginform" name="login" action="" method="post" accept-charset="utf-8" class="login">
    <p class="title">Log in</p>
    @:<input type="text" name='username'placeholder="Username"/>
    <i class="fa fa-user"></i>
    @:<input type="password" name="password" placeholder="Password" />
    <i class="fa fa-key"></i>
    <a href="#">Forgot your password?</a>
    <button type="submit" name="submit" value="log in">
    <i class="spinner"></i>
    <span class="state">Log in</span>
    </button>
    @:</form>
 
    

    }
         </div>
         <p>@loginErrorMessage</p>

</div>



