@{
    
    // Here we need to decide what kind of account this is: User, Manager or Admin
    // Once we've stored this info, generate their options based on account type
    
}

<!-- Main Menu-->
<div id="navbar-parent">
<div id="navbar">
    <ul>
        <li><a href="NewUser.cshtml">Create User</a></li>
        <li><a href="EditUser.cshtml">Edit User</a></li>
        <li><a href="ArchiveUser.cshtml">Archive User</a></li>
        <li><a href="NewRole.cshtml">Create Role</a></li>
        <li><a href="EditRole.cshtml">Edit Role</a></li>
        <li><a href="DeleteRole.cshtml">Delete Role</a></li>
        <li><a href="NewReport.cshtml">Submit New Report</a></li>
        <li><a href="NewTemplate.cshtml">Create Template</a></li>
        <li><a href="ManageReports.cshtml">Manage Reports</a></li>
        <li><a href="ManageTemplates.cshtml">Manage Templates</a></li>
        <li><a href="DeleteTemplate.cshtml">Delete Templates</a></li>
    </ul>
</div>
</div>

