@{
    
    // Here we need to decide what kind of account this is: User, Manager or Admin
    // Once we've stored this info, generate their options based on account type
    
}

<!-- Main Menu-->
<div id="mainmenu">
    <ul>
        <li><a href="#">Create User</a></li>
        <li><a href="#">Edit User</a></li>
        <li><a href="#">Archive User</a></li>
        <li><a href="#">Create Role</a></li>
        <li><a href="#">Edit Role</a></li>
        <li><a href="#">Delete Role</a></li>
        <li><a href="#">Submit New Report</a></li>
        <li><a href="#">View Submitted Report</a></li>
        <li><a href="#">Create Template</a></li>
        <li><a href="#">Manage Reports</a></li>
        <li><a href="#">Manage Templates</a></li>
    </ul>
</div>

