@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");

    // Depending on which type of incident the user selects, load the appropriate incidents list 
    // Load all reports relating to an incident in the next checkbox


}

<div>
    
    <form id='loginform' class="login" action="">
    <input type="radio" name="incident" checked="checked">Active Incidents</input>
    <input type="radio" name="incident">Inactive Incidents</input></br></br>


    <select name="incident">
        <option>Incident 1</option>
    </select> </br></br>

    <select name="report">
        <option>Report 1</option>
    </select>

    <br/>
    <button type="submit" value="Proceed">Modify Report</button>
    </form>
</div>