@{
    
}

<div>
    <form action="">
        <p>Please select an incident type</p>
        <ul>
            <li><a href='manager-create.html'>Aircraft Malfunction</a></li> 
            <li><a href='manager-create.html'>Passenger Incident</a></li> 
            <li><a href='manager-create.html'>Security Breach</a></li> 
            <li><a href='manager-create.html'>Missing Equipment</a></li> 
        </ul>
        <br/>
        <button type="submit">Back</button>
    </form>
</div>