<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- JQueryUI -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <!-- Local CSS file -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans' rel='stylesheet' type='text/css'>

</head>
    
<body>
    


<div class='row'>

    <!-- Content Pane -->
    <div class='col-sm-12'>
        <div id = 'horizontal-bar-container'>
            <div id = 'horizontal-bar'>
               <a href='index.html'><img src = 'img/ideagen-logo.png'></a>
            </div>
        </div>
        <img class = 'banner' src='img/splash1.jpg'>
       
    </div>
</div>  
<div class='row'>
    <!-- Nav bar-->
    <div id = 'navbar-parent' class='col-sm-1'>
        <div id='navbar'>
           
        </div>
    </div>
     <div id='login' class='col-sm-10'>
         <img src='img/manager-reports-2mock.png'> </br>
         
         <input type="submit" value="Sign Off">
         <input type="submit" value="Edit">
    <input type="submit" value="Delete"></br></br>
         <input type="submit" value="Forward">
         <input type="submit" value="More">
         <input type="submit" value="Close">
		 <br/><br/>
		<form action="manager.html">
			<button type="submit">Back</button>
		</form>
    </div>
    <div class='col-sm-1'>
    
    </div>
</div>

</body>
</html>
