<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- JQueryUI -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    
    <!-- Local CSS file -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato|Roboto|Open+Sans' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    


</head>
    
<body>
    


<div class='row'>

    <!-- Content Pane -->
    <div class='col-sm-12'>
        <div id = 'horizontal-bar-container'>
            <div id = 'horizontal-bar'>
               <a href='index.html'><img src = 'img/ideagen-logo.png'></a>
            </div>
        </div>
        <img class = 'banner' src='img/splash1.jpg'>
       
    </div>
</div>  
<div class='row'>
    <!-- Nav bar-->
    <div id = 'navbar-parent' class='col-sm-1'>
        <div id='navbar'>
           
        </div>
    </div>
     <div id='login' class='col-sm-2'>

        <h2>Select Tool</h2>
         <ul>
            <li>Text Field</li>
             <li>Date/Time Picker</li>
             <li>Attachment Area</li>
             <li>Image</li>
             <li>Checkbox</li>
             <li>Radio Button</li>
         </ul>

    </div>
    <div id='login' class='col-sm-8'>
        
        <h2>Form Designer</h2>

        <h3><input placeholder = 'Enter title here...' type='text'></input></h3>

        <h3><textarea placeholder="Enter some info here..."></textarea></h3>
    
        <input type="submit" value="Submit Template">
		<br/><br/>
		<form action="manager.html">
			<button type="submit">Back</button>
		</form>
    </div>
    <div class='col-sm-1'>
    
    </div>
</div>

</body>
</html>
