@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }

    var db = Database.Open("ProjectManager");
    
    var templates = db.Query("SELECT templateName, templateId FROM Templates");
    var templatesNumber = db.QueryValue("SELECT COUNT(*) FROM Templates");

    var errorMessage ="";
    var templateId = 0;


    long[] templatesId = new long[templatesNumber];
    String[] templatesName = new String[templatesNumber];

    var i = 0;
    foreach (var x in templates)
    {
          templatesId[i] = @x.templateId;
          templatesName[i] = @x.templateName;
          i++;
    }    
}

<div>
    <form id="loginform" class='login' action="">
        <p class="title">Please select a template to edit</p>
        <ul>
       @for(int x=0; x<@templatesNumber; x++)
            {
               <li><a href="EditTemplate.cshtml?id=@templatesId[x]"><p>@templatesName[x]</p></a></li>
            }
        </ul>


    </form>
</div>