@{
    
}

<div>
    <a href=''>Active Incidents</a> </br></br>
    <a href=''>Inactive Incidents</a> </br></br>
    <br/>
    <form action="">
    <button type="submit">Back</button>
    </form>
</div>