@{
    
}

<div>
<h2>New Report</h2>
         
        <p>Please select an incident type</p>
        <ul>
            <li><a href=''>Aircraft Malfunction</a></li> 
            <li><a href=''>Passenger Incident</a></li> 
            <li><a href=''>Security Breach</a></li> 
            <li><a href=''>Missing Equipment</a></li> 
        </ul>
		</br>
		<form action="">
			<button type="submit">Back</button>
		</form>
</div>