@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");

    var templateName = "";
    var templateObj = "";
    var errorMessage = "";

    if(IsPost)
    {
        if (Request["submit"] == "Save Form")
            {
                templateName = Request.Form["nameInput"];
                templateObj = Request.Unvalidated().Form["templateObj"];

                if ( templateName== "" || templateObj== "")
                {
                    errorMessage = "You must specify all fields.";
                }

                if (errorMessage=="")
                    {
                        var template = db.QuerySingle("SELECT templateName FROM Templates WHERE LOWER(templateName) = LOWER(@0)", templateName);

                        if (template == null)
                          {
                              db.Execute("INSERT INTO Templates (templateName, templateObj) VALUES (@0, @1)", templateName, templateObj);
                              errorMessage = "New template has been created.";
                          }
                        else
                          {
                              errorMessage = "template name is already in use.";
                          }
                     }
            }
    }
}

<link rel="stylesheet" type="text/css" media="screen" href="css/form-builder.css">


 <form method="post">
    <h2>Form Builder</h2></br>
    <p>Please Enter Template Name</p>
    <input type="text" placeholder="Template Name.." name="nameInput" ></br></br>
    <input type="text" name ="templateObj" id="form-builder-template">   
    <input type="submit" name="submit" value="Save Form">
    <input type="submit" name="submit" value="Back"></br>
    <p>@errorMessage</p>
 </form>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="js/form-builder.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            'use strict';
            var template = document.getElementById('form-builder-template');

            $(template).formBuilder();
        });
    </script>