@{
    
}
<div>
    <div>
        <h2>Select Tool</h2>
        <ul>
            <li>Text Field</li>
            <li>Date/Time Picker</li>
            <li>Attachment Area</li>
            <li>Image</li>
            <li>Checkbox</li>
            <li>Radio Button</li>
        </ul>
    </div>
    <div id='login' class='col-sm-8'>
        
        <h2>Form Designer</h2>

        <h3><input placeholder = 'Enter title here...' type='text'></input></h3>

        <h3><textarea placeholder="Enter some info here..."></textarea></h3>
    
        <input type="submit" value="Submit Template">
        <br/><br/>
        <form action="manager.html">
            <button type="submit">Back</button>
        </form>
    </div>
</div>