@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    
    var db = Database.Open("ProjectManager");
    
    var roles = db.Query("SELECT roleName, roleId FROM Roles");
    var rolesNumber = db.QueryValue("SELECT COUNT(*) FROM Roles");

    long[] rolesId = new long[rolesNumber];
    String[] rolesName = new String[rolesNumber];

    var i = 0;
    foreach (var x in roles)
    {
          rolesId[i] = @x.roleId;
          rolesName[i] = @x.roleName;
          i++;
    }


    var firstName = "";
    var lastName = "";
    var userName = "";
    var email = "";
    var password = "";
    var roleId = 0;

    var errorMessage = "";



   if (IsPost)
{
        if (Request["submit"] == "Save")
    {
        
        firstName = Request.Form["firstName"];
        lastName = Request.Form["lastName"];
        userName = Request.Form["userName"];
        email = Request.Form["email"];
        password = Request.Form["password"];
        roleId = Request.Form["role"].AsInt();

  
        if ( firstName== "" || lastName== "" || userName== "" || email== "" || password== "" )
        {
            errorMessage = "You must specify all fields.";
        }


        // If all information is valid, create a new account
        if (errorMessage=="")
        {
            var user = db.QuerySingle("SELECT userName FROM Users WHERE LOWER(userName) = LOWER(@0)", userName);
            if (user == null)
              {
               db.Execute("INSERT INTO Users (userName, fName, lName, email, password, roleId) VALUES (@0, @1, @2, @3, @4, @5)",  userName, firstName, lastName, email, password, roleId);
               WebSecurity.CreateAccount(userName, password, false);
               errorMessage = "New user has been created.";
              }
            else
              {
                  errorMessage = "username is already in use.";
              }

        }
    }

}
    
}


    

<div class='row'>

      <h2>Create User</h2>
         
      <form action="" id="register_user" method="post" class="login">

	  <input type="text" placeholder="Enter first name" name="firstName" value=""><br/>
      <input type="text" placeholder="Enter last name" name="lastName" value=""><br/>
	  <input type="email" placeholder="Enter email" name="email" value=""><br/>
      <input type="text" placeholder="Enter username" name="userName" value=""><br/>
      <input type="password" placeholder="Enter password" name="password" value=""><br/>
      <p>What role will this user have?</p>
       
      </br>	  
      <select name="role">
        @for(int x=0; x<rolesNumber; x++)
        {
               <option value=@rolesId[x] >@rolesName[x]</option> 
        }
      </select><br/>
          <a href="NewRole.cshtml">I want to create a new role</a> <br/>
      <p>@errorMessage</p>
     <button type="submit" name="submit"><span class="state">Save</span> </button>
     
     </form>


     
    </div>
</div>
