@{
    
}

<p> Select Incident </p>
<form method="post">
<select name="previous incidents">
        <option value=""></option>
        <option value="incident">Crash</option>
        <option value="incident">Damage</option>
        <option value="incident">Injury</option>
</select>
</form>
		
<p> Your submitted reports for chosen incident: </p>
<form method="post">
<select name="previous incidents">
        <option value=""></option>
        <option value="report">Report #001423</option>
        <option value="report">Report #001424</option>
        <option value="report">Report #001425</option>
</select>
</form>
		
<form action="user-create-2.html">
	<button type="submit">View report</button>
</form>
						
<form action="user-create-3.html">
	<button type="submit">Submit new report for this incident</button>
</form>
			
<form action="user.html">
	<button type="submit">Back</button>
</form>