@{
    if(!WebSecurity.IsAuthenticated)
     {
       Response.Redirect("Index.cshtml");    
     }
    var db = Database.Open("ProjectManager");

    var reportId = Request["id"];

    var templateObj = db.QueryValue("SELECT templateObj FROM Reports WHERE reportId = @0", reportId);
    var reportObj = db.QueryValue("SELECT reportObj FROM Reports WHERE reportId = @0", reportId);
    var image = db.QueryValue("SELECT image FROM Reports WHERE reportId= @0", reportId);
    var userId = WebSecurity.CurrentUserId;
    var userRole = db.QueryValue("SELECT roleId FROM Users WHERE userId = @0", userId);
    var removeAttachment = db.QueryValue("SELECT removeAttach FROM Roles WHERE roleId = @0", userRole);

    if(IsPost)
    {
        if (Request["submit"] == "Remove Attachment")   
        {
            db.Execute("UPDATE Reports SET image = null WHERE reportId=@0", reportId);
            image = null;
        }
    }
}
<link rel="stylesheet" type="text/css" media="screen" href="css/form-builder.css">

<form id="testForm" method="post">


    <input type="text" name ="reportObj" id="form-builder-template" value="@templateObj" >
      
    <input hidden  type="text" id="serializedString"  name ="hiddenSerializeString" value="@reportObj" >

    @if(!(System.Convert.IsDBNull(image)) || image == null)
    {
        @:<img src="data:image;base64,@System.Convert.ToBase64String((byte[])image)" alt="image" />

        if(removeAttachment == 1)
        {
           @:</br>  <input type="submit" name ="submit" value="Remove Attachment">
        }
        
    }


</form>

    

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
  <script src="js/form-render.js"></script>
  <script src="js/jquery.deserialize.js"></script>

    <script>
        jQuery(document).ready(function ($) {
            'use strict';
            var template = document.getElementById('form-builder-template');
            $(template).formRender();
        
            var serializedString = $('#serializedString').val();
            console.log(serializedString);

            $( '#testForm' ).deserialize( serializedString );
        });

    </script>